<a href="https://colab.research.google.com/github/cesarbovo/FATEC/blob/main/Exercicio_1_lista_2_07_03_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Lista de Exercícios 02

Exercício 1

 Criando e imprimindo variáveis

  Crie três variáveis em Python:

   • Uma variável chamada "nome" para armazenar seu nome.
   
   • Uma variável chamada idade para armazenar sua idade.
   
   • Uma variável chamada altura para armazenar sua altura em metros.
   
    Imprima uma mensagem usando essas variáveis no seguinte formato: "Meu nome é [nome], tenho [idade] anos e minha altura é [altura] metros."

In [ ]:
nome = input('Digite o seu nome')
idade = input('Digite a sua idade')
altura= input('digite a sua altura')


print('Meu nome é ' + nome + ', tenho ' + idade + ' anos' + ' e minha altura é ' + altura + ' metros')

Digite o seu nomeCesar
Digite a sua idade50
digite a sua altura1.8
Meu nome é Cesar, tenho 50 anos e minha altura é 1.8 metros

In [ ]:
print(idade)

50

In [ ]:
num1=10
type(num1)

int

In [ ]:
int(num1)

10

In [ ]:
num2=3

In [ ]:
num3=2

In [ ]:
num2+num3

5

In [ ]:
print(num2+num3)

5

In [ ]:
num1=int(input('Digite um numero'))
num2=int(input('digite o segundo numero'))
soma=str(num1+num2)



print( 'A soma de ' + num1 + ' e ' + num2 + ' é ' + soma)

Digite um numero2
digite o segundo numero2

TypeError: can only concatenate str (not "int") to str

In [ ]:
211]